h1 a {
	color: cadetblue;
}

h1 a:hover {
  color: cadetblue;
}

h2 {
	color: saddlebrown;
}

.container {
	margin: 0 5%;
}

table {
  width: 100%;
}

.mainContent {
  margin-top: 10px;
}

img {
  width: 400px;
}

.smallImage {
  width: 40px;
}

.previewImg {
  width: 100px;
}

/*input.ng-dirty {
  background: seashell;
}*/