h1 a {
	color: #5dafb2;
}

h1 a:hover {
  color: #5d9ea1;
}

.register {
  background-color: #5dafb2;
  color: white;
  border: solid 1px #5dafb2;
}

.register:hover {
  background-color: #5d9ea1;
  color: white;
  border: solid 1px #5d9ea1;
}

.container {
	margin: 0 5%;
}

.navIcon {
  display: inline;
}

table {
  width: 100%;
}

.mainContent {
  margin-top: 10px;
}

img {
  width: 400px;
}

.smallImage {
  width: 40px;
}

.previewImg {
  width: 100px;
}