<table class="table">
  <thead>
    <tr>
      <td></td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Name Name</td>
      <td>Nick Name</td>
      <td>Cohort</td>
      <td>Current</td>
      <td>View</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    <tr class="hellofriends" ng-repeat="(id, person) in tas.data
   | orderBy:['-nickName']:friendReverse">
      <td><img class="smallImage" ng-src="{{person.image}}"></td>
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.name}}</td>
      <td>{{person.nickName | toRansomCase}}</td>
      <td>{{person.cohort}}</td>
      <td><input class="checkbox" type="checkbox" ng-change="tas.updateTA(id)" ng-model="person.current"></td>
      <td>
        <a class="btn btn-info" href="/#/tas/{{id}}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></a>
      </td>
      <td>
        <a class="btn btn-success" href="/#/tas/{{id}}/edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
      </td>
      <td>
        <button class="btn btn-danger" ng-click="tas.removeTA(id)"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
      </td>
    </tr>
  </tbody>
</table>